@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');

* {
    margin: 0px;
    padding: 0px;
}

.Coach {
    background-color: black;
    height: 100vh;
    font-family: 'DM Sans', sans-serif;

    .h1 {
        font-family: 'Oswald', sans-serif;
        color: white;
        font-size: 56px;
        padding: 120px 0px 120px 140px;
    }

    .centre {
        background-color: black;
        display: flex;
        padding-left: 140px;
        img{
            margin: 0px 140px 0px 0px;
            border-radius: 3px;
        }
        h2 {
            color: white;
            font-family: 'Oswald', sans-serif;
            font-size: 30px;
            padding-top: 150px;
        }
        p{
            color: white;
            width: 50%;
            font-size: 16px ;
            word-spacing: 2px;
        }
    }
}