@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');

* {
    margin: 0px;
    padding: 0px;
}

.Coach {
    background-color: black;
    height: 720px;
    font-family: 'DM Sans', sans-serif;

    .h1 {
        font-family: 'Oswald', sans-serif;
        color: white;
        font-size: 56px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        height: 200px;
        padding: 0 140px 50px;
    }

    .centre {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        height: 600px;
        padding: 0 140px;
        align-items: center;
        background-color: black;
        img {
            border-radius: 3px;
        }

        h2 {
            color: white;
            font-family: 'Oswald', sans-serif;
            font-size: 30px;
            display: flex;
        }

        p {
            color: white;
            width: 50%;
            font-size: 16px;
            word-spacing: 2px;
        }
    }
}


@media screen and (max-width: 768px) {
    .h1{
        text-align: center;
    }
    .centre{
        display: flex;
    }
    img{
        width: 382px;
        height: 579px;
    }
}