.Button {
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 46px;
  border: none;
  background-color: #FD3C3D;
  border: 1px solid #FD3C3D;
  color: white;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: 0.3s ease-in-out;
  cursor: pointer;

  &.outline {
    background-color: transparent;
    color: white;
    border: 2px solid white;

    &:hover {
      background-color: white;
      border: 2px solid white;
      color: black;
    }
  }

  &.rounded {
    border-radius: 50%;
  }

  &:hover {
    background-color: white;
    border: 1px solid white;
    color: black;
  }
}