.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  // padding: 2rem;
  margin-bottom: 60px;

  .right {
    height: 100%;
    display: flex;

    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    width: 80%;
    background-color: #31343C;
    // background-color: white;

    h1 {
      color: white;
    }
  }

}


.coachWrapper {
  width: 100%;
  background-color: #31343C;

  .coach {
    height: 100%;
    width: 50%;
    background-color: #31343C;
  }

}