.cardWrapper {
  display: flex;

  @media (max-width:1302px) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  @media (max-width:523px) {
    grid-template-columns: repeat(1, 1fr);
  }
}