@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

* {
  margin: 0px;
  padding: 0px;
}

.root {

  width: auto;
  height: 720px;
  background: url('../../assets/img/headerex2.jpg') center / cover no-repeat;

  .banner {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 500px;
    padding: 0 140px;
    gap: 40px;

    h2 {
      font-family: 'DM Sans', sans-serif;
      font-weight: 500;
      font-size: 19px;
      color: white;

    }

    button {
      width: 300px;
      font-family: 'DM Sans', sans-serif;
      background-color: black;
      color: white;
      padding: 15px 46px;
      border: none;
      background-color: red;
      font-size: 16px;
      font-weight: 800;
      cursor: pointer;

      &:hover {
        background-color: rgb(193, 0, 0);
        transition: 0.3s;
      }
    }
  }
}