@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

.root {
  display: flex;
  color: white;
  width: 100%;

  h2 {
    cursor: pointer;
    font-size: 23px;
    font-weight: 700;
    font-family: 'Archivo Black', sans-serif;
    color: rgb(220, 34, 34);
    text-align: center;
    padding: 38px 20px 0px 140px;
  }

  ul {
    font-family: 'DM Sans', sans-serif;
    display: flex;
  }

  li {
    cursor: pointer;
    margin: 43px 20px 0px 20px;
    font-size: 19px;
    &:hover {
      border-bottom: 1px solid white;
      transition: 0.2s;
    }
  }
}

