.Footer {
	height: 300px;
	padding-left: 140px;
	padding-top: 140px;
	background-color: black;
	color: white;
	display: flex;

	div {
		width: 50%;

		h2 {
			color: red;
			font-weight: 800;
			font-family: 'Oswald', sans-serif;
			margin-bottom: 30px;
		}

		p {
			margin: 0px 0px 5px 0px;
			font-family: 'DM Sans', sans-serif;
		}


		a {
			font-size: 30px;
			padding: 0px 20px 0px 0px;
		}
	}
}

.bottomFooter {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #212121;
	padding: 8px 4rem;

	.bottomFooterContent {
		display: flex;
		flex-direction: column;
		gap: 4px;
		color: white;

		h4 {
			text-transform: uppercase;

			span {
				&:first-child {
					text-transform: capitalize;
				}

				&:last-child {
					color: red;
				}
			}
		}
	}
}

@media (max-width: 768px) {
	.Footer {
		display: block;

		div {
			margin-bottom: 29px;
		}
	}
}